@mobile: ~"only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2)";
.exercise-selector {
    display: inline-block;
    width: 100%;
    // height: 100px;
    padding-bottom: 50%;
}

.selector-options {
    margin-top: 5%;
    position: absolute;
    width: 50%;
    top: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: opacity .7s;
    -moz-transition: opacity .7s;
    -o-transition: opacity .7s;
    transition: opacity .7s;
    z-index: 20;
    text-align: center;
}

.exercise-selector {
    &.selected {
        .selector-label {
            opacity: 1;
        }
        .selector-options {
            opacity: 1;
            z-index: 5000;
        }
        img {
            z-index: 400;
            right: 75%;
            right: none;
            height: auto;
            width: 40%;
            padding-left: 0;
            padding-top: 0;
            margin-top: 10%;
            border: 7px solid #337ab7;
        }
    }
}

.exercise-selector-button {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: none;
    img {
        position: absolute;
        z-index: 5000;
        height: auto;
        width: 50%;
        opacity: 1;
        margin: 0 auto;
        left: 0;
        right: 0;
        margin-top: 5%;
        // pointer-events: none;
        cursor: pointer;
        // max-height: 125px;
        border-radius: 5px;
        padding-left: 10px;
        padding-top: 10px;
        // margin-bottom: 10px;
        -webkit-transition: all .5s linear;
        -moz-transition: all .5s linear;
        -o-transition: all .5s linear;
        transition: all .5s linear;
        border: 0 solid #337ab7;
    }
}

.selector-label {
    opacity: 0;
    font-size: 20px;
    padding-right: 5px;
    width: 100%;
}

.augment-btn {
    width: 45%;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.focused-text {
    display: block;
    text-align: center;
    font-size: 80px;
}

@media @mobile {
    .selector-options {
        margin-top: 20px;
    }
    .exercise-selector-button img {
        margin: 0 auto;
        &.selected {
            margin-top: 14%;
        }
    }
    .focused-text {
        font-size: 53px;
    }
    .exercise-selector {
        &.selected {
            padding-bottom: 60%;
            img {
                margin-top: 15%;
            }
        }
    }
}
